.menuWrapper{
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    text-transform:uppercase;
    letter-spacing: normal;
    line-height: 1.45em;
    position:relative;
    margin:20px auto;
    height:542px;
    width:797px;
    background-position:0 0;
    background-repeat:no-repeat;
    background-color:transparent;
}

.details{
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.45em;
    position:relative;
    margin:20px auto;
    height:542px;
    width:780px;
    background-position:0 0;
    background-repeat:no-repeat;
    background-color:transparent;
	overflow:auto;
	padding-left:5px;
}


ul.menu{
    list-style:none;
    width:797px;
}
ul.menu > li{
    float:left;
    width:265px;
    height:542px;
    border-right:1px solid #777;
    background-repeat:no-repeat;
    background-color:transparent;
}
ul.menu > li.last{
    border:none;
}
.bg1{
    background-image: url(../../images/Ex8/1.jpg);
}


.bg2{
    background-image: url(../../images/Ex8/2.jpg);
}

.bg3{
    background-image: url(../../images/Ex8/3.jpg);
}

ul.menu > li > a{
    float:left;
    width:265px;
    height:50px;
    margin-top:450px;
    text-align:center;
    line-height:50px;
    color:#ddd;
    background-color:#333;
    letter-spacing:1px;
    cursor:pointer;
    text-decoration:none;
    text-shadow:0px 0px 1px #fff;
}
ul.menu > li ul{
    list-style:none;
    float:left;
    margin-top:-180px;
    width:100%;
    height:110px;
    padding-top:20px;
    background-repeat:no-repeat;
    background-color:transparent;
}
ul.menu > li ul li{
    display:none;
}
ul.menu > li ul.sub1{
    background-image:url(../../images/Ex8/bg1sub.png);
}
ul.menu > li ul.sub2{
    background-image:url(../../images/Ex8/bg2sub.png);
}
ul.menu > li ul.sub3{
    background-image:url(../../images/Ex8/bg3sub.png);
}
ul.menu > li ul li a{
    color:#fff;
    text-decoration:none;
    line-height:30px;
    margin-left:20px;
    text-shadow:1px 1px 1px #444;
    font-size:11px;
}
ul.menu > li ul.sub1 li{
    display:block;
}
ul.menu > li ul li a:hover{
    border-bottom:1px dotted #fff;
}


/*DEtails*/
.details h2
{ 
text-decoration:underline;
}

.details .retour
{
	float:left;
	background-image:url(../../images/left.jpg);
	background-repeat:no-repeat;
	width:25px;
	height:11px;
		
}