body {
		padding: 0 50px;
		background:#F1EFE2;
		font-size: 1.4em;
	}
h1 {
		margin-top: 20px;
		margin-bottom: 40px;
		color: #789;
		text-shadow: 1px 1px #fff;
}

p
{
 font-size:15px;	
}
.good {color: green;}

#todo {
	width: 800px;
	display : -moz-box;
    display : -webkit-box;
    display : box;
    -moz-box-orient : vertical;
    -webkit-box-orient : vertical;
    box-orient : vertical;
    margin: 0;
    padding: 10px;
	line-height: 1.4;
	outline: none;
	background: #fbfbfb;
	-webkit-box-shadow: 0px 0px 12px #aaa; 
	-moz-box-shadow: 0px 0px 12px #aaa; 
	box-shadow: 0px 0px 12px #aaa; 
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
#todo:hover, #todo:focus {
	background: #fff;
}
#todo:focus {
	-webkit-box-shadow: 0px 0px 12px orange; 
	-moz-box-shadow: 0px 0px 12px orange; 
	box-shadow: 0px 0px 12px orange;
}
#todo li {
	display : -moz-box;
  	display : -webkit-box;
  	display : box;
    -moz-box-ordinal-group : 2;
    -webkit-box-ordinal-group : 2;
    box-ordinal-group : 2;
	list-style: none;
	padding: 4px 10px;
	
}
#todo li:before { 
	content: "todo";
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 100px;
	margin: 6px 15px 0 0;
    padding: 0 6px;
    background: orange;
    color: #fff;
    font-weight: normal;
    font-size: .7em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#todo li.maxi {
	-moz-box-ordinal-group : 1;
    -webkit-box-ordinal-group : 1;
    box-ordinal-group : 1;
}
#todo li.maxi:before { 
	content: "important";
    background: red;
}
#todo li.mini {
	-moz-box-ordinal-group : 3;
    -webkit-box-ordinal-group : 3;
    box-ordinal-group : 3;
}
#todo li.mini:before { 
	content: "done";
    background: green;
}
#todo li:hover:after { 
	content: " (Cliquer pour éditer)";
	margin: 0 0 0 15px;
    color: gray;
    font-weight: normal;
    font-size: .7em;
}

#todo li.mini {
	color: #777;
}
#todo li.maxi {
	font-weight: bold;
}

.info {
	width: 320px;
	margin: 40px 0 10px 0;
	padding: 10px 20px;
	font-size: .8em;
	-webkit-box-shadow: 0px 0px 12px orange; 
	-moz-box-shadow: 0px 0px 12px orange; 
	box-shadow: 0px 0px 12px orange;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; 
	background: #fbfbfb;
	color: #555;
	position:fixed;
	z-index:5;
	top:160px;
	left:600px;
}